<p id="notice"><%= notice %></p>

<p>
  <strong>Logo</strong>
  <%= image_tag @version.image, disposition: "attachment" %>
</p>

<p>
  <strong>screenshots</strong>
  <% @version.screenshots.each do |ss| %>
  <%= image_tag ss, disposition: "attachment", class: "screenshots", "data-enlargable" => true %>
  <% end %>
</p>

<p>
	<strong>Versin ID</strong>
	<%= @version.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @version.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @version.code %>
</p>

<p>
  <strong>File</strong>
  <%= @version.apk.attached? %>
</p>

<p>
  <strong>App:</strong>
  <%= @version.app.name %>
</p>




<%= link_to 'Edit', edit_version_path(@version) %> |
<%= link_to 'Back', versions_path %>
