<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes">
  <title>Document</title>
</head>
<body class="login">
  <div class="login-form">
      <h3 style="font-family: serif;">Welcome!</h3>
  <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= f.email_field :email, autofocus: true, class: "session-input" %>
  <%= f.password_field :password, class: "session-input" %>
  <% if devise_mapping.rememberable? %>
  <%= f.check_box :remember_me %> <br>  
  <% end %>
  <%= f.submit "Log In" %>
  <%= render "devise/shared/links" %>
<% end %>
  </div>
</body>
</html>